# Impfraten bei Kindern ccc

Gruppe: Léa Grandchamp, Brigit Marxe, Enea Solca

Fragen

- Wie haben sich die Durchimpfungsraten für zentrale Kinderimpfungen im Beobachtungszeitraum des Datensatzes entwickelt, und in welchen ausgewählten Ländern oder Weltregionen zeigen sich besonders starke Fortschritte bzw. Rückschritte?
- Gibt es systematische Unterschiede in der Höhe der Durchimpfungsraten zwischen verschiedenen Kinderimpfungen, und haben sich diese Unterschiede im Zeitverlauf vergrössert oder verkleinert?
- Lässt sich ein Zusammenhang zwischen den Durchimpfungsraten und der Kindersterblichkeit erstellen?

Quellen:
- https://ourworldindata.org/grapher/global-vaccination-coverage
- https://ourworldindata.org/child-mortality

## 1. Daten beschaffen und laden

In [3]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df1 = pd.read_csv("global-vaccination-coverage.csv", skiprows=1, names=["Entity","Code","Year","Share of one-year-olds who have had three doses of the hepatitis B vaccine","Share of one-year-olds vaccinated against Haemophilus influenzae type b","Share of one-year-olds who have had the one dose of the inactivated polio vaccine","Share of one-year-olds who have had one dose of the measles vaccine","Share of one-year-olds who have had the third dose of the pneumococcal conjugate vaccine","Share of one-year-olds who have had three doses of the polio vaccine","Share of one-year-olds vaccinated against rubella","Share of one-year-olds vaccinated against rotavirus","Share of one-year-olds who have had three doses of the diphtheria, tetanus and pertussis vaccine"])
                 
df1.head(10000)

,Entity,Code,Year,Share of one-year-olds who have had three doses of the hepatitis B vaccine,Share of one-year-olds vaccinated against Haemophilus influenzae type b,Share of one-year-olds who have had the one dose of the inactivated polio vaccine,Share of one-year-olds who have had one dose of the measles vaccine,Share of one-year-olds who have had the third dose of the pneumococcal conjugate vaccine,Share of one-year-olds who have had three doses of the polio vaccine,Share of one-year-olds vaccinated against rubella,Share of one-year-olds vaccinated against rotavirus,"Share of one-year-olds who have had three doses of the diphtheria, tetanus and pertussis vaccine"
0,Afghanistan,AFG,2007,63.0,NaN,NaN,55.0,NaN,63.0,NaN,NaN,63.0
1,Afghanistan,AFG,2008,64.0,NaN,NaN,59.0,NaN,64.0,NaN,NaN,64.0
2,Afghanistan,AFG,2009,63.0,63.0,NaN,60.0,NaN,63.0,NaN,NaN,63.0
3,Afghanistan,AFG,2010,66.0,66.0,NaN,62.0,NaN,66.0,NaN,NaN,66.0
4,Afghanistan,AFG,2011,68.0,68.0,NaN,64.0,NaN,68.0,NaN,NaN,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9198,Zimbabwe,ZWE,1990,NaN,NaN,NaN,87.0,NaN,89.0,NaN,NaN,88.0
9199,Zimbabwe,ZWE,1991,NaN,NaN,NaN,87.0,NaN,88.0,NaN,NaN,87.0
9200,Zimbabwe,ZWE,1992,NaN,NaN,NaN,86.0,NaN,86.0,NaN,NaN,86.0
9201,Zimbabwe,ZWE,1993,NaN,NaN,NaN,86.0,NaN,85.0,NaN,NaN,85.0
9202,Zimbabwe,ZWE,1994,NaN,NaN,NaN,87.0,NaN,87.0,NaN,NaN,87.0

In [7]:
df2 = pd.read_csv("child-mortality.csv", skiprows=1, names=["Entity","Code","Year","Child mortality rate"])
df2.head(100000)

            Entity Code  Year  Child mortality rate
0      Afghanistan  AFG  1957                 37.13
1      Afghanistan  AFG  1958                 36.52
2      Afghanistan  AFG  1959                 35.95
3      Afghanistan  AFG  1960                 35.32
4      Afghanistan  AFG  1961                 34.76
...            ...  ...   ...                   ...
16830     Zimbabwe  ZWE  2019                  5.11
16831     Zimbabwe  ZWE  2020                  5.01
16832     Zimbabwe  ZWE  2021                  4.76
16833     Zimbabwe  ZWE  2022                  4.60
16834     Zimbabwe  ZWE  2023                  4.42

[16835 rows x 4 columns]

## 2. Daten vorbereiten
- Die Roh-Daten sind bereits im Long-Format
- Für die Analyse werden die Daten pivotiert: Jede Spalte repräsentiert eine Region, die Zeilen sind die verschiedenen Jahre - in absteigender Reihenfolge.

In [8]:
df1_pivot = df1.pivot(index='Entity', columns='Year', values='Share of one-year-olds who have had three doses of the hepatitis B vaccine')
df1_pivot.head(100000)

Year,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.00000,66.0000,64.00000,68.00000,65.00000,61.000000,55.00000,58.00000,60.00000,59.0
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.06001,75.6542,75.96257,77.12731,78.16292,75.550385,74.67232,74.55958,75.89457,NaN
Africa (WHO),NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,70.00000,73.0000,74.00000,75.00000,76.00000,74.000000,73.00000,72.00000,75.00000,76.0
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.00000,99.0000,99.00000,99.00000,99.00000,98.000000,98.00000,97.00000,97.00000,97.0
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.00000,91.0000,91.00000,91.00000,88.00000,84.000000,81.00000,77.00000,94.00000,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Pacific (WHO),NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,...,92.00000,93.0000,93.00000,91.00000,95.00000,95.000000,92.00000,94.00000,90.00000,91.0
World,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,83.00000,84.0000,84.00000,84.00000,86.00000,83.000000,81.00000,84.00000,84.00000,84.0
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.00000,63.0000,59.00000,54.00000,60.00000,57.000000,56.00000,58.00000,46.00000,42.0
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.00000,95.0000,94.00000,90.00000,88.00000,84.000000,91.00000,92.00000,90.00000,91.0
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.00000,90.0000,89.00000,89.00000,90.00000,86.000000,88.00000,90.00000,90.00000,91.0

In [9]:
df3_pivot = df1.pivot(index='Entity', columns='Year', values='Share of one-year-olds vaccinated against Haemophilus influenzae type b')
df3_pivot.head(1000000)

Year,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.00000,66.00000,64.00000,68.00000,65.00000,61.0000,55.00000,58.00000,60.00000,59.0
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.06435,75.66934,75.96544,77.12595,78.16157,75.5128,74.67649,74.55958,75.85002,NaN
Africa (WHO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.00000,73.00000,74.00000,75.00000,76.00000,74.0000,73.00000,72.00000,75.00000,76.0
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.00000,99.00000,99.00000,99.00000,99.00000,98.0000,98.00000,97.00000,97.00000,97.0
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.00000,91.00000,91.00000,91.00000,88.00000,84.0000,81.00000,77.00000,92.00000,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Pacific (WHO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.00000,25.00000,25.00000,26.00000,27.00000,30.0000,30.00000,34.00000,33.00000,34.0
World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.00000,70.00000,71.00000,73.00000,74.00000,72.0000,72.00000,77.00000,77.00000,78.0
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.00000,63.00000,59.00000,54.00000,60.00000,57.0000,56.00000,58.00000,46.00000,42.0
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.00000,95.00000,94.00000,90.00000,88.00000,84.0000,91.00000,92.00000,90.00000,91.0
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.00000,90.00000,89.00000,89.00000,90.00000,86.0000,88.00000,90.00000,90.00000,91.0

In [ ]:
#df4_pivot = df1.pivot(index='Entity', columns='Year', values='Share of one-year-olds who have had three doses of the hepatitis B vaccine' and 'Share of one-year-olds vaccinated against Haemophilus influenzae type b')
                    
#df4_pivot.head(100)

merge_df = pd.merge(df1, df2, on=['Entity', 'Year'])
merge_df.head(100000) 
rename_df = merge_df.rename(columns={'Share of one-year-olds who have had three doses of the hepatitis B vaccine': 'Hepatitis B Vaccine Coverage','Share of one-year-olds vaccinated against Haemophilus influenzae type b': 'Hib Vaccine Coverage','Share of one-year-olds who have had the one dose of the inactivated polio vaccine': 'Inactivated Polio Vaccine Coverage','Share of one-year-olds who have had one dose of the measles vaccine': 'Measles Vaccine Coverage','Share of one-year-olds who have had the third dose of the pneumococcal conjugate vaccine': 'Pneumococcal Conjugate Vaccine Coverage','Share of one-year-olds who have had three doses of the polio vaccine': 'Polio Vaccine Coverage','Share of one-year-olds vaccinated against rubella': 'Rubella Vaccine Coverage','Share of one-year-olds vaccinated against rotavirus': 'Rotavirus Vaccine Coverage','Share of one-year-olds who have had three doses of the diphtheria, tetanus and pertussis vaccine': 'Di te per Vaccine Coverage','Child mortality rate': 'Child Mortality Rate'})
rename_df.head(100000)

,Entity,Code_x,Year,Hepatitis B Vaccine Coverage,Hib Vaccine Coverage,Inactivated Polio Vaccine Coverage,Measles Vaccine Coverage,Pneumococcal Conjugate Vaccine Coverage,Polio Vaccine Coverage,Rubella Vaccine Coverage,Rotavirus Vaccine Coverage,Di te per Vaccine Coverage,Code_y,Child Mortality Rate
0,Afghanistan,AFG,2007,63.0,NaN,NaN,55.0,NaN,63.0,NaN,NaN,63.0,AFG,10.07
1,Afghanistan,AFG,2008,64.0,NaN,NaN,59.0,NaN,64.0,NaN,NaN,64.0,AFG,9.63
2,Afghanistan,AFG,2009,63.0,63.0,NaN,60.0,NaN,63.0,NaN,NaN,63.0,AFG,9.22
3,Afghanistan,AFG,2010,66.0,66.0,NaN,62.0,NaN,66.0,NaN,NaN,66.0,AFG,8.83
4,Afghanistan,AFG,2011,68.0,68.0,NaN,64.0,NaN,68.0,NaN,NaN,68.0,AFG,8.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8407,Zimbabwe,ZWE,1990,NaN,NaN,NaN,87.0,NaN,89.0,NaN,NaN,88.0,ZWE,7.97
8408,Zimbabwe,ZWE,1991,NaN,NaN,NaN,87.0,NaN,88.0,NaN,NaN,87.0,ZWE,8.33
8409,Zimbabwe,ZWE,1992,NaN,NaN,NaN,86.0,NaN,86.0,NaN,NaN,86.0,ZWE,8.73
8410,Zimbabwe,ZWE,1993,NaN,NaN,NaN,86.0,NaN,85.0,NaN,NaN,85.0,ZWE,9.16
8411,Zimbabwe,ZWE,1994,NaN,NaN,NaN,87.0,NaN,87.0,NaN,NaN,87.0,ZWE,9.52

In [13]:
df2_pivot = df2.pivot(index='Entity', columns='Year', values='Child mortality rate')
df2_pivot.head(100000)

Year,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.51,7.24,7.00,6.76,6.54,6.33,6.13,5.93,5.74,5.55
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.68,7.49,7.31,7.17,6.83,6.66,6.43,6.27,6.22,5.91
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.99,0.96,0.94,0.93,0.93,0.94,0.94,0.95,0.94,0.94
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.54,2.49,2.45,2.40,2.37,2.33,2.29,2.26,2.23,2.20
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.37,0.35,0.34,0.32,0.31,0.30,0.29,0.28,0.27,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.22,2.20,2.18,2.15,2.14,2.12,2.10,2.07,2.04,2.00
World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.49,4.37,4.24,4.13,4.02,3.95,3.87,3.82,3.82,3.67
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.84,4.90,4.77,4.66,4.70,4.59,4.32,4.24,4.08,3.93
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.38,6.15,5.90,5.61,5.52,5.41,5.24,4.92,4.67,4.47
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.18,5.98,5.69,5.50,5.23,5.11,5.01,4.76,4.60,4.42

In [14]:
df4_pivot = merge_df.pivot(index='Entity', columns='Year', values='Share of one-year-olds who have had three doses of the hepatitis B vaccine' and 'Share of one-year-olds vaccinated against Haemophilus influenzae type b' and 'Child mortality rate' and 'Child mortality rate')

                
df4_pivot.head(100000)

Year,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,24.57,23.94,27.99,27.44,30.91,30.09,25.31,24.72,21.84,18.71,...,7.51,7.24,7.00,6.76,6.54,6.33,6.13,5.93,5.74,5.55
Africa,18.78,18.30,17.89,18.27,17.86,17.45,16.98,16.18,16.24,15.64,...,7.68,7.49,7.31,7.17,6.83,6.66,6.43,6.27,6.22,5.91
Albania,8.12,7.49,6.90,6.37,5.90,5.48,5.11,4.79,4.51,4.28,...,0.99,0.96,0.94,0.93,0.93,0.94,0.94,0.95,0.94,0.94
Algeria,NaN,14.03,12.31,10.52,8.91,7.61,6.63,5.96,5.55,5.30,...,2.54,2.49,2.45,2.40,2.37,2.33,2.29,2.26,2.23,2.20
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.37,0.35,0.34,0.32,0.31,0.30,0.29,0.28,0.27,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,NaN,NaN,6.64,6.50,6.36,6.21,6.04,5.85,5.64,5.40,...,2.22,2.20,2.18,2.15,2.14,2.12,2.10,2.07,2.04,2.00
World,11.85,11.50,11.18,11.09,10.89,10.62,10.31,9.94,9.87,9.55,...,4.49,4.37,4.24,4.13,4.02,3.95,3.87,3.82,3.82,3.67
Yemen,20.82,19.57,18.36,17.22,16.20,15.33,14.59,13.95,13.40,12.92,...,4.84,4.90,4.77,4.66,4.70,4.59,4.32,4.24,4.08,3.93
Zambia,NaN,NaN,NaN,15.87,16.18,16.57,16.97,17.34,17.66,17.89,...,6.38,6.15,5.90,5.61,5.52,5.41,5.24,4.92,4.67,4.47
Zimbabwe,NaN,10.68,10.12,9.50,8.87,8.31,7.86,7.61,7.55,7.69,...,6.18,5.98,5.69,5.50,5.23,5.11,5.01,4.76,4.60,4.42

In [ ]:
#df5_pivot = rename_df.pivot(index = 'Entity', columns='Year', values='Child Mortality Rate' and 'Hepatitis B Vaccine Coverage' and 'Hib Vaccine Coverage' and 'Inactivated Polio Vaccine Coverage' and 'Polio Vaccine Coverage' and 'Measles Vaccine Coverage' and 'Pneumococcal Conjugate Vaccine Coverage' and 'Rubella Vaccine Coverage' and 'Rotavirus Vaccine Coverage' and 'Di te per Vaccine Coverage')
#df5_pivot.head(100000)

Year,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,4.000000,3.000000,5.000000,5.000000,16.00000,15.000000,11.00000,25.00000,35.000000,33.00000,...,62.00000,64.00000,66.000000,64.00000,68.00000,65.00000,61.00000,55.00000,58.00000,60.000000
Africa,9.277582,14.022753,15.809792,22.322681,28.28405,36.268597,40.47252,46.72535,50.223446,55.14232,...,73.63328,73.12944,75.721985,76.03318,77.16519,78.16262,75.56682,74.68514,74.55958,75.851456
Albania,94.000000,94.000000,95.000000,95.000000,95.00000,96.000000,96.00000,96.00000,96.000000,94.00000,...,99.00000,99.00000,99.000000,99.00000,99.00000,99.00000,98.00000,98.00000,97.00000,97.000000
Algeria,NaN,NaN,NaN,NaN,NaN,69.000000,73.00000,79.00000,85.000000,87.00000,...,95.00000,95.00000,91.000000,91.00000,91.00000,88.00000,84.00000,81.00000,77.00000,92.000000
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.00000,97.00000,98.000000,99.00000,99.00000,99.00000,99.00000,99.00000,98.00000,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,NaN,NaN,NaN,4.000000,5.00000,42.000000,43.00000,50.00000,70.000000,88.00000,...,95.00000,97.00000,96.000000,94.00000,75.00000,89.00000,94.00000,83.00000,91.00000,65.000000
World,20.000000,23.000000,25.000000,37.000000,44.00000,48.000000,51.00000,55.00000,63.000000,68.00000,...,85.00000,85.00000,86.000000,86.00000,86.00000,86.00000,83.00000,82.00000,85.00000,84.000000
Yemen,1.000000,3.000000,4.000000,5.000000,7.00000,12.000000,13.00000,18.00000,36.000000,56.00000,...,70.00000,63.00000,63.000000,59.00000,54.00000,60.00000,57.00000,56.00000,58.00000,46.000000
Zambia,NaN,NaN,NaN,49.000000,59.00000,66.000000,66.00000,83.00000,83.000000,83.00000,...,86.00000,90.00000,95.000000,94.00000,90.00000,88.00000,84.00000,91.00000,92.00000,90.000000
Zimbabwe,NaN,39.000000,46.000000,53.000000,60.00000,63.000000,75.00000,84.00000,85.000000,87.00000,...,91.00000,87.00000,90.000000,89.00000,89.00000,90.00000,86.00000,88.00000,90.00000,90.000000

## 3. Statistik der Roh-Daten (Analyse im Long-Format)

Über die einzelnen Spalten kann folgendes ausgesagt werden:

- Die Spalte *Gebiete* enthält 261 verschieden Gebiete
- Die Spalte *Codes* enthält 239 verschiedene Codes
- Es sind Daten zwischen 1543 and 2021 vorhanden. Ab dem Jahr 1950 sind die Daten komplett
- Die Lebenserwartung streut zwischen 12 und 86.5 Jahren

### 3.1 Analyse Länder

### 3.2 Analyse Codes

### 3.3 Analyse Jahr

### 3.4 Analyse Durchimpfungsrate

## 4. Analyse
### Vorgehen
### Beobachtungen
### Interpretation